
<ion-header-bar align-title="center" class="bar-dark">
    <!--<a href="{{getGlobal('company-website' , 'http://www.savv-e.com.au')}}" target = '_blank' class="thumb"><img ng-src="{{getGlobal('company-logo')}}"></a>-->
    <div class = "buttons">
        <online-status></online-status>
    </div>
    <h1 class='title' align-title='center'>{{getVar('home-page-title') || 'Default Title Comes Here!!'}}</h1>
    <div class="buttons"><button class="button button-outline button-light button-icon icon ion-log-in" ng-click="showLogin()">Login</button></div>
</ion-header-bar>


<ion-tabs class="tabs-icon-top tabs-dark" animation ='slide-left-right'>
    <ion-tab title="Home" icon="ion-home"  ui-sref="home.welcome">
        <ion-nav-view name="welcome-tab" animation="slide-left-right"></ion-nav-view>
    </ion-tab>

    <ion-tab title="About" icon="ion-ios7-information" ui-sref="home.aboutus">
        <ion-nav-view name="about-tab" animation="slide-left-right"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Contact" icon="ion-ios7-world" ui-sref="home.contact">
        <ion-nav-view name="contact-tab" animation="slide-left-right"></ion-nav-view>
    </ion-tab>

</ion-tabs>
