<ion-view title="About" ng-controller='AboutCtrl'>
    <ion-content class="padding has-header">
        <h1>{{getVar('about-page-title') || 'Default Title Comes Here!!'}}</h1>

        <div class="content has-header">
            <div class="list list-inset">
                    <div class="row">
                        <div class = 'col'>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label"><i class="icon ion-search placeholder-icon"></i>All</span>
                                <input type="text" placeholder ='All' ng-model="search.$" >
                            </label>

                        </div>
                        <div class = 'col'>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label"><i class="icon ion-search placeholder-icon"></i>Names</span>
                                <div class = 'col'><input type="text" placeholder ='Names' ng-model="search.name" ></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class = 'col'>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label"><i class="icon ion-search placeholder-icon"></i>Roles</span>
                                <div class = 'col'><input type="text" placeholder ='roles' ng-model="search.role" ></div>

                            </label>
                        </div>
                        <div class = 'col'>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label"><i class="icon ion-search placeholder-icon"></i>Snippet</span>
                                <div class = 'col'><input type="text" placeholder ='Snippets' ng-model="search.snippet" ></div>
                            </label>
                        </div>
                    </div>
                </label>

                <div class="row">
                    <div class="col col-center col-20"><h3>Sort</h3></div>
                    <div class="col">
                        <div class="button-bar" id="orderBy">
                            <a class="button button-small" href="" ng-click="changeSorting('name')"> Name <span
                                    ng-class="{true: 'icon balanced ion-chevron-up', false: 'icon ion-chevron-down'}[sort.descending]"
                                    ng-if="sort.column =='name'"></span></a>
                            <a class="button button-small" href="" ng-click="changeSorting('role')"> Role<span
                                    ng-class="{true: 'icon balanced ion-chevron-up', false: 'icon ion-chevron-down'}[sort.descending]"
                                    ng-if="sort.column =='role'"></span></a>
                            <a class="button button-small" href="" ng-click="changeSorting('snippet')">Snippet<span
                                    ng-class="{true: 'icon balanced ion-chevron-up', false: 'icon ion-chevron-down'}[sort.descending]"
                                    ng-if="sort.column =='snippet'"></span></span></a>
                        </div>
                    </div>
                </div>


                <div class="list" id="users">
                    <a class="item item-avatar" ui-sref="home.employee({ id: user.id })"
                         ng-repeat="user in getVar('home.about.users') | filter:search | orderBy:sort.column:sort.descending"
                         ngIf="user.thumbUrl && user.name && user.role && user.snippet">
                            <img src="{{user.thumbUrl}}"/>
                            <h2>{{user.name}}</h2>
                            <h4>{{user.role}}</h4>
                            <p>{{user.snippet}}</p>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>