<ion-view title="Home">
    <ion-content class="padding">
        <h1>CONTACT</h1>



        <h3>Send us a card </h3>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model='contact.firstname'>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model='contact.lastname'>
            </label>

            <li class="range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume" ng-model='happy'>
                <i class="icon ion-volume-high"></i>
            </li>
            <div class='row'>
                <div class="list col-30">
                    <label class="item item-radio">
                        <input type="radio" name="group" value="like" checked="checked" ng-model='contact.send'>

                        <div class="item-content">
                            <i class="icon ion-thumbsup"></i>Like
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group" value="a lot of money" ng-model='contact.send'>

                        <div class="item-content">
                            <i class="icon ion-chatbox"></i>A lot of money
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group" value="love" ng-model='contact.send'>

                        <div class="item-content">
                            <i class="icon ion-heart"></i>Love
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <textarea placeholder="Your awesome message here " ng-model='contact.message'></textarea>
                    </label>
                </div>
            </div>

        </div>


        <div class="card" id='preview'>
            <div class="item item-text-wrap">
                <div class='row'>
                    <div class='col'>
                        <h3>From {{contact.firstname}} {{contact.lastname}}</h3>
                    </div>
                    <div class='col'>
                        <h3>To {{getGlobal('company-email')}}</h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='col col-40'>
                        <div class = 'row'>Sending</div>
                        <div class = 'row'> <b>"{{contact.send}}"</b></div>
                        <div class = 'row'>with a happiness level of</div>
                        <div class = 'row'>{{happy}} </div>
                        <div class = 'row'><b>({{happy<30?"Not so happy" :(happy<60?"Happy" :"Ecstatic")}})</b> </div>

                    </div>
                    <div class='col'>
                        <p>{{contact.message}}</p>
                    </div>

                </div>
            </div>
        </div>


        <ul>

            <li class="item item-toggle">
                <div class='row'>Address</div>
                <div class='row fade-in' ng-if="expand.address">
                    Level 7, <br/> 33 Chandos Street, <br/> St Leonards <br/> Sydney
                </div>

                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="expand.address">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-checkbox">
                <div class='row'>Telephone</div>
                <div class='row fade-in' ng-if="expand.telephone">
                    <i class="icon ion-ios7-telephone-outline"></i>
                    99471201
                    <br/>
                    <i class="icon ion-ios7-telephone-outline"></i>
                    99471234
                </div>

                <label class="checkbox">
                    <input type="checkbox" ng-model="expand.telephone">
                </label>
                </div>
            </li>

        </ul>
    </ion-content>
</ion-view>
