<ion-view title="Employee">
    <ion-content class="padding">

        <div class="list card">
            <div class="item item-avatar">
                <img src="{{employee.thumbUrl}}">
                <h2>{{employee.name}}</h2>
                <p>{{employee.role}}</p>
            </div>

            <div class="item item-image">
                <img src="{{employee.imgUrl}}">
                <p>{{employee.snippet}}</p>
            </div>

            <a class="item item-icon-left assertive" href="#/home/about">
                <i class="icon ion-arrow-left-a"></i>
                Back
            </a>
        </div>

    </ion-content>
</ion-view>