<ion-view title="Home">
    <ion-content class="padding">
        <h1>{{getVar('welcome-page-title') || 'Default Title Comes Here!!'}}</h1>

        <ion-slide-box show-pager="false" does-continue="true" delegate-handle="welcome-img-delegate">
            <ion-slide ng-repeat="img in getVar('home.welcome.images')">
                <div class='row responsive-sm'>
                    <div class ='col'>
                         <img ng-src="{{img.src}}" alt="{{img.alt}}" >
                    </div>
                </div>
                <div class='row responsive-sm'>
                    <div class ='col'>
                        <h1>{{img.title}}</h1>
                        <p>{{img.desc}}</p>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>