<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.name}}">
  <ion-content has-header="true" padding="true">
  </ion-content>
</ion-view>



<ion-header-bar align-title="center" class="bar-stable">
    <h1 class="title">Awesome Demo 1.0</h1>
</ion-header-bar>



<div class="bar bar-footer bar-dark">
    <h1 class="title">Copyright Savv-e Pty Ltd</h1>
    <a class="button button-icon icon ion-settings" ng-click="showLogin()">Login</a>
</div>